<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gestão</title>
</head>
<body>
    <div class="upbar">
        <h1>Gestão de usuários</h1>
    </div>
        
    <div class="centerized">
        <div class="centershow ovf">
            {% for k,u in users.items() %}
                <div class="usrshow mb-10">
                    <p>ID: {{ k }}</p>
                    <p>Nome: {{ u.nome }}</p>
                    <p>Email: {{ u.email }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "elements/returnbtn.html" %}
</body>
</html>